# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List Data Science Tools
* Few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. NymPy
2. Pandas
3. MatPlotLib
4. Sci-kit Learn

|Data Science Tools|
--------------------
|Jupytor Lab|
|Jupytor Notebook|
|Google Colab|
|IBM Informatica|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 60, " Hours")

3.3333333333333335  Hours

## Author

Sachin Manohar Inwate